* {
font-family: 'Gabriela', serif;
    margin: 0;
    box-sizing: border-box;
    color: #222;
}

html {

 }
backk {
    background-image: url('../images/fon.png');
    background-repeat: no-repeat;
    background-position: center;
    width:  auto;
    height: 145%;
    background-size: cover;
}

.header1 {
    margin: 0;
    padding: 0;
    position: absolute;

}
.header {
    width: 100%;
    overflow: hidden;
}

 .clearfix {
     display: block;
     clear: both;
 }

 h1 {
     text-align: center;
     color: black;
     font-size: 44px;
     margin: 50px 0 40px 0;

 }

 body {
    margin: 0px;
     background: url('../images/alex-perez-ioJBsYQ-pPM-unsplash%201.png');
 }

.site-header {
    min-height: 290px;
    background: url('../images/reyting-serialov.jpg');
    background-size: cover;
    background-position: 50% 30%;
    margin-top: 6%;
}
@media (max-width: 1170px){
    .site-header{
        margin-top: 0;
    }
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}


main {

}

.question {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    color: black;
}

.answer {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.answer li {
    font-size: 25px;
    background: #f1f1f1;
    margin: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.answer li:hover {
    background: #cecece;
    font-weight: bold;
}

.answer li:active{
    background: #8b8b8b;
}

.result {
    text-align: justify;
    padding: 30px 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 150%;
    color: black;

}

.result-img {
    max-width: 600px;
    display: block;
    margin: 10px auto;
}
@media (max-width: 1170px){
    .result-img{
        width: 70vw;

    }
}


.reload-button {
    display: block;
    margin: 20px auto;
    background: Moccasin;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    min-width: 200px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.reload-button:hover {
    background: #acacac;
}

