body {

}

h2{
    margin-top: -330px;
   font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Yeseva One', cursive;
    letter-spacing: 8px;
    margin-bottom: 300px;
}
h3{
   font-size: 40px;
    text-align: center;
    font-family: arial, sans-serif;
}
h4{
   font-size: 20px;
    text-align: center;
    font-family: arial, sans-serif;
}
p{
    margin-left: 40%;
    margin-top: 6%;
    width: 750px;
    font-size: 20px;
    text-align: justify;
    font-family: arial, sans-serif;
}
.pp{
    margin-left: 3%;
    margin-top: 6%;
    width: 750px;
    font-size: 20px;
    text-align: justify;
    font-family: arial, sans-serif;
}
.merk1{
    margin-top: -20%;
    margin-left: 3%;
}
.ven{
    margin-top: 3%;
}
.plyton{
    align-content: center;
    text-align: center;
    margin-left: 33.5%;
}
.ven1{
    margin-top: -16%;
    margin-left: 68%;
}
.images{
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    padding: 10px;
    background: #302B4B ;
    margin-top: 15px;
}
.fant{
    text-align: center;
    align-content: center;
}
button {
margin-top: 3%;
    margin-bottom: 5%;
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #FF0000;
  box-shadow: inset #8B0000 0 -1px 1px, inset 0 1px 1px #8B0000, #8B0000 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
button:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}








