body {
    background:#cb9af4;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 16px;
}
table{
    text-align: center;
    width: 900px;
    height: 500px;
    margin: 80px 40px 80px 145px;
}
th{
    font-size: 27px;
}
tr{
    font-size: 20px;
}
* {
    box-sizing: border-box;
}
h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 28px;
}

h3 {
    font-size: 25px;
    margin-bottom: 28px;
}

a {
    text-decoration: none;
}

section {
    padding-top: 73px
}

p {
    margin-top: 5px;
}

ul, il, strong, ol{
    font-size: 25px;
}
.smm{
    margin-top: 30px;
}
.container {
    width: 1170px;
    /*позиционирование по центру*/
    margin: 0 auto;
}
.smm1{
    margin-top: -163px;
    margin-left: 580px;
    margin-bottom: 110px;
}
.header {
    background: url('../img/a863582cbf628c97.jpeg') no-repeat center top / cover;
    padding-top: 27px;
    color: #87CEFA;
    padding-bottom: 322px
}

header a {
    color: #6495ED;
}

.logo {
    margin-right: 69px;
}

.nav {
    display: flex;
    align-items: center;
}

.offer {
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
}

.offer h1 {
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.02em
}

.btn {
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #6495ED;
    width: 238px;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #8919e6;
    color: #000;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}

.desc-left, .desc-right {
    width: 567px;
}

.gallery {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.gallery img {
    transition: all 0.5s ease;
}

.gallery img:hover {
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    transform: scale(1.1);
}

.footer-text {
    padding: 44px 0
}

select{
    font-size: 20px;
    width:500px;
    height: 50px;
}
