body {
     background-image: url(images/background_test.png);
    background-repeat: no-repeat;
    font-family: 'Sequel';
    color: #fff;
}

#highScoresList {
    color: white;
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    background: linear-gradient(90deg, #93C2DE 0%, #93C2DE 100%);
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}