body {
    background:white;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 3px;
}

h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 28px;
}
h4, li, ul{
    text-align: center;
    margin-bottom: 3px;
}

a {
    text-decoration: none;
}

section {
    padding-top: 73px
}

p {
    margin-top: 35px;
}

ul, il, strong, ol{
    font-size: 25px;
}

.container {
    width: 1170px;
    /*позиционирование по центру*/
    margin: 0 auto;
}

.header {
    background: url('../img/a863582cbf628c97.jpeg') no-repeat center top / cover;
    padding-top: 27px;
    color: #87CEFA;
    padding-bottom: 652px
}

header a {
    color: #6495ED;
}

.logo {
    margin-right: 69px;
}

.nav {
    display: flex;
    align-items: center;
}

.offer {
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
}

.offer h1 {
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.02em
}

.btn {
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #6495ED;
    width: 238px;
    transition: all 0.5s ease;
}

.btn:hover {
    background: white;
    color: #000;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}

.gallery {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.gallery img {
    transition: all 0.5s ease;
}

.gallery img:hover {
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    transform: scale(1.1);
}

.footer-text {
    padding: 44px 0
}

select{
    font-size: 20px;
    width:500px;
    height: 50px;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    height: 620px;
    margin: 40px auto 0;
    position: relative;
    width: 600px;
}

.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 { background-image: url('../img/imgonline-com-ua-Resize-SkXSIvXaiPe4Xk.jpg') ; }
.slide2 { background-image: url('../img/imgonline-com-ua-Resize-CETBVX6P0ubVt7.jpg'); }
.slide3 { background-image: url('../img/imgonline-com-ua-Resize-tbYeuaQfDr9zwrxe.jpg'); }
.slide4 { background-image: url('../img/imgonline-com-ua-Resize-jGuAhGOJsjGne7.jpg'); }
.slide5 { background-image: url('../img/imgonline-com-ua-Resize-GKcysvFzp2MQe6.jpg'); }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.wrapper > input {
    display: none;
}

.wrapper .controls {
    left: 50%;
    margin-left: -98px;
    position: absolute;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
    background: #ddd;
}

.wrapper label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.smm{
    margin-top: 70px;
}




.btn {
    background: Red; /* Цвет фона */
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
    color: #fff; /* Цвет текста */
    padding: 17px 12px; /* Поля */
    margin-bottom: 2em; /* Отступ снизу */
   }
   .btn:hover {
    background: #1e6550; /* Цвет фона при наведении курсора */
   }
   .btn-flat {
    border: 1px transparent; /* Прозрачная рамка */
   }

